body {
    background: thistle;
    font: 18px 'Trebuchet MS', sans-serif;
}

h3 {
	color: mediumvioletred;
}

p {
	font: 14px Helvetica;
	color : indigo;
	word-wrap: break-word;
	width: 500px;
	max-width: 60%;
	margin : 0px auto;
	line-height: 1.5;
}

div {
	text-align: center;
}

a {
	text-decoration: none;
}

a:link {
	color:lightcoral;
}

a:visited {
	color:lightcoral;
}

a:hover {
	color:darkturquoise;
}

.beginning {
	background-color: rgb(255, 122, 89);
}